@font-face {
    font-family: "Rijksoverheid Sans Text TT Bold_2_0";
    src        : url(fonts/rijksoverheidsansheading-bold.ttf) format("truetype");
}

@font-face {
    font-family: "Rijksoverheid Sans Text TT Regular_2_0";
    src        : url(fonts/rijksoverheidsanstext-regular.ttf) format("truetype");
}

@font-face {
    font-family: "Rijksoverheid Sans Text TT Italic_2_0";
    src        : url(fonts/rijksoverheidserif-italic.ttf) format("truetype");
}



body {
    margin          : 0;
    padding         : 0;
    background-color: white;
}

#map {
    position: absolute;
    top     : 0;
    bottom  : 0;
    width   : 100%;
}