html, body {
    height: 100%;
    margin: 0px;
  }
  
  #map {
    height: 100%;
  }
  
  .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    max-width: 600px;
    padding-top: 20px;
  }
  
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  
  .ol-popup-closer:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  
  .ol-popup-closer:after {
    content: "✖";
  }
  
  #popup-content {
    overflow-x: scroll;
  }
  
  table {
    border: none;
    border-collapse: collapse;
    font-family: sans-serif;
  }
  
  table td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  thead>tr>td {
    border-bottom: 1px solid #ddd;
    font-weight: 600;
  }
  
  table td:first-child {
    border-left: none;
  }
  
  table td:last-child {
    border-right: none;
  }
  
  tbody td:nth-of-type(odd), thead td:nth-of-type(odd) {
    background: #E6E6E6;
  }
  
  .ol-zoom.ol-control{
    top: 2em;
  }